@charset "UTF-8";

div#tv-radio {
    width:  900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 579px;
    top: 495px;
    width: 290px;
    height: 40px;
}

video#filme {
    display: block;
    position: relative;
    left: 88px;
    top: 85px;
    width: 440px;
}
